<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TiDBConnection"
 connectionString="Server=gateway01.us-west-2.prod.aws.tidbcloud.com;Port=4000;Database=test;Uid=2M89UmHv68u8GyA.root;Pwd=o9B4JZTZamcPiDGH;SslMode=VerifyCA;SslCa=C:\Users\">/Hadia</add>\Documents\TiDB_CA\ca.pem"
		providerName="MySql.Data.MySqlClient" />

	</connectionStrings>  
</configuration>